/* ******************************
General Styles
****************************** */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  text-align: center;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid #bfbfbf;
}

Link {
  color: #009688;
}

div {
  font-size: 12px
}
/* ******************************
SignInPage.js
****************************** */
.App-login {
  background-color: #e0fdf7;
  height: 100vh;
}

.App-logo1 {
  height: 15vmin;
}

.Div-one {
  padding-top: 100px;
  padding-bottom: 50px;
}

.med {
  color: #009688;
}

.div-two {
  padding-top: 50px;
  padding-bottom: 220px;
  margin: 0 35px 0 35px;
}

.form-login {
  border-radius: 20px;
  height: 5vh;
  padding: 0 0 5px 5px;
  width: 100%;
}

.login-btn,
.login-btn:hover {
  background-color: #009688;
  border-color: #009688;
}

.login-input {
  background-color: white;
}

/* ******************************
LandingPage.js
****************************** */

.App-body {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 13.3vh;
  height: 42vh;
}

/* .App-logo2 {
  height: 200px;
} */

.lessThan a {
  color: #009688;
  font-size: 30px;
  margin-right: 50px;
  text-decoration: none;
}

.App-link {
  color: #09d3ac;
}

.headTitle {
  background-color: rgb(224, 253, 247);
  color: #009688;
  font-size: 23px;
  min-height: 10vh;
  padding: 40px 45px 30px;
  text-align: left;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.bodyTitle {
  text-transform: uppercase;
  color: black;
}

.homepg-input {
  border-radius: 25px;
  height: 40px;
  width: 80%;
  padding: 5px 0 5px 7px;

}

.flex {
  display: flex;
  justify-content: center;
}

.cat:hover{
  background-color: #09d3ac;
  border-color: #009688;
}

.cat {
  background-color: rgb(224, 253, 247);
  border: 1px solid grey;
  color: #009688;
  height: 9vh;
  margin-right: 5px;
  width: 30%;
}

span {
  color: black;
  font-size: 15px;
}

ul {
  background-color: white;
  list-style-type: none;
  display: flex;
  height: 35px;
  margin-top: 60px;
}

ul li {
  margin-right: 100px;
  justify-content: center;
  padding-top: 9px;
}

footer	{ 
  position:fixed; 
  top:87.5%;
}

@media only screen and (min-width: 258px) and (max-width: 318px) {
  .App-body{
    height: 49vh;
  }
}

/* ******************************
DoctorList.js
****************************** */
.settings {
  background-color: darkgreen;
}

.doctor {
  border: 1px solid grey;
  color: black;
}

.doctorlist {
  border: 1px solid grey;
  color: black;
}

.hideDetails {
  display: none;
}

/* ******************************
DoctorDetails.js
****************************** */

/* ******************************
BookedList.js
****************************** */
.setBorder {
  border: 1px solid grey;
  color: black;
}