/* ******************************
General Styles
****************************** */
.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
}

Link {
  color: #009688;
}
/* ******************************
SignInPage.js
****************************** */
.App-login {
  background-color: #e0fdf7;
  height: 100vh;
}

.Div-one {
  padding-top: 100px;
  padding-bottom: 50px;
}

.med {
  color: #009688;
}

.div-two {
  padding-top: 50px;
  padding-bottom: 220px;
}

.form-login {
  border-radius: 20px;
  height: 5vh;
  width: 82vw;
}

.login-btn,
.login-btn:hover {
  background-color: #009688;
  border-color: #009688;
}

.login-input {
  background-color: white;
}

/* ******************************
LandingPage.js
****************************** */

.App-body {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 42vh;
  padding-bottom: 13.3vh;
}

.lessThan a {
  color: #009688;
  font-size: 30px;
  margin-right: 50px;
  margin-left: -10px;
  text-decoration: none;
}

.App-link {
  color: #09d3ac;
}

.headTitle {
  background-color: rgb(224, 253, 247);
  color: #009688;
  font-size: 23px;
  min-height: 10vh;
  padding: 40px 45px 30px;
  text-align: left;
}

.bodyTitle {
  text-transform: uppercase;
  color: black;
}

.homepg-input {
  border-radius: 25px;
  height: 5.5vh;
  width: 80vw;
}

.flex {
  display: flex;
  justify-content: center;
}

.cat:hover{
  background-color: #09d3ac;
  border-color: #009688;
}

.cat {
  background-color: rgb(224, 253, 247);
  border: 1px solid grey;
  color: #009688;
  height: 9vh;
  margin-right: 5px;
  width: 30%;
}

span {
  color: black;
  font-size: 15px;
}

ul {
  background-color: white;
  list-style-type: none;
  display: flex;
  height: 35px;
  margin-top: 60px;
}

ul li {
  margin-right: 100px;
  justify-content: center;
  padding-top: 9px;
}

footer	{ 
  position:fixed; 
  top:87.5%;
}

/* ******************************
DoctorList.js
****************************** */
.settings {
  background-color: darkgreen;
}

.doctor {
  border: 1px solid grey;
  color: black;
}

.doctorlist {
  border: 1px solid grey;
  color: black;
}

.hideDetails {
  display: none;
}

/* ******************************
DoctorDetails.js
****************************** */

/* ******************************
BookedList.js
****************************** */
.setBorder {
  border: 1px solid grey;
  color: black;
}